table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 0.3em;
    font-size: 0.8em;
}
table, th, td {
   /* border: solid 1px #222;*/
   /* padding: 0 !important; */
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   text-align: center !important;
}
tr {
  border: none !important;
}

h1 {
  margin: 0 !important;
  font-weight: 700 !important;
}
#table1_ th, #table1_ td {
  border: solid 1px #222;
  padding-left: 1mm !important;
  padding-right: 1mm !important;
}

th {
    background: #222;
    color: white;
}
input[type=text], input[type=number], input[type=date], textarea {
    width: 100%;
    text-align: center;
    border: none;
    margin: 0 !important;
    height: auto !important;
    font-size: 1.2em;
    line-height: auto;
}

textarea {
  resize: none;
  overflow: hidden;
 
}

.gauge_{
    /* margin-top: 0;
    margin-left: 5mm; */
    width: 150px;
    /* margin-right: 0 !important; */
    margin: 0 auto;
  }
  .sign{
    align-content: center;
    margin-left: 2cm;    
    width: 250px;
  }

  #sig1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig2 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig3 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig4 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig5 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig6 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig7 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig8 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  input[type=radio] {
    border: 1px solid var(--head-color);
   /* padding: 0.5em;*/
   padding: 0.4em;
    -webkit-appearance: none;
    margin-left: 4mm;
    margin-top: 1mm;
  }
  input[type=radio]:checked {
    background: var(--head-color);
   /* background-size: 6px 8px;**/
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }

 

input[type=checkbox], input[type=radio] {
  border: 1px solid #222 !important;
 /* padding: 0.5em;*/
 padding: 0.4em !important;
 max-width: 3mm !important;
  -webkit-appearance: none !important;
  margin-left: 4mm !important;
  margin-top: 1mm !important;
  opacity: 1 !important;
  position: relative !important;
  font-size: 1em;
  pointer-events: all;
}
input[type=checkbox]:checked ,input[type=radio]:checked{
  background: #222 !important;
 /* background-size: 6px 8px;**/
}

input[type=checkbox]:focus,input[type=radio]:focus {
  outline-color: transparent !important;
}


#sub_title{
font-size: 1.5em;
font-weight: 700;
text-align: center;
margin-bottom: 2mm;
}

.sedand {
  background-image: url('../../../assets/auto1.png');
}
.sedani {
  background-image: url('../../../assets/auto3.png');
}
.sedanf {
  background-image: url('../../../assets/auto4.png');
}
.sedana {
  background-image: url('../../../assets/auto2.png');
}
.pickupd {
  background-image: url('../../../assets/pickup4.png');
}
.pickupi {
  background-image: url('../../../assets/pickup3.png');
}
.pickupf {
  background-image: url('../../../assets/pickup1.png');
}
.pickupa {
  background-image: url('../../../assets/pickup2.png');
}
.suvd {
  background-image: url('../../../assets/suv4.png');
}
.suvi {
  background-image: url('../../../assets/suv3.png');
}
.suvf {
  background-image: url('../../../assets/suv1.png');
}
.suva {
  background-image: url('../../../assets/suv2.png');
}