<app-navbar [submitSurveyData]="submitSurveyData" [myForm]="myForm" [save]="save">
</app-navbar>

  <div class="app">
    <section>
      <div class="page">
        <div class="inner">
          <table>
            <tr>
              <td style="width: 2.5cm;"><img style="width:100%;" src="assets/povet.png"></td>
              <td>
                <h6>Choferes de Organizaciones Sociales y de Transporte, A.C.</h6>
                <p style="font-size: 1.3em;">Yucatán 111 Int. 7 Col. Molino de Parras</p>
                <p style="font-size: 1.3em;">C.P. 58010 Morelia Mich. Tel. 01(443) 382 9641</p>
                <p>Este volante expira 10 dias después de su fecha de expedición</p>
              </td>
              <td style="width: 5cm;">
                  <form [formGroup]="myForm" (ngSubmit)="submitSurveyData()" novalidate autocomplete="off">
                <h1 style="font-size: 1.2em;">VOLANTE DE ADMISIÓN A TALLER/AGENCIA</h1>
                <p><b style="font-size: 1.5em;">FOLIO N°</b> <input id="orden_" style="font-size: 1.5em; color: red; font-weight: 700; width: 3cm;" type="number"
                    formControlName="orden" [(ngModel)]="form_.orden"></p>
                  </form>
              </td>
            </tr>
          </table>
          <table id="table1_">
            <tr>
              <td colspan="2">
                NUM. DE SINIESTRO
                <input type="text" [(ngModel)]="form_.sini">
              </td>
              <td>
                NUM. DE PÓLIZA
                <input type="text" [(ngModel)]="form_.poliza">
              </td>
              <td style="width: 2.5cm;">
                CERTIFICADO
                <input type="text" [(ngModel)]="form_.certi">
              </td>
              <td style="width: 6cm;">
                INTERESADO
                <input type="text" [(ngModel)]="form_.nombre">
              </td>
              <td>
                TELÉFONO
                <input type="text" [(ngModel)]="form_.tel">
              </td>
            </tr>
            <tr>
              <td>ASEGURADO <br> <input type="radio" name="aseg" [(ngModel)]="form_.aseg" value="si"></td>
              <td>TERCERO <br> <input type="radio" name="aseg" [(ngModel)]="form_.aseg" value="no"></td>
              <td colspan="3">
                AJUSTADOR
                <input type="text" [(ngModel)]="form_.ajusta">
              </td>
              <td>
                <select class="no-print" name="car" style="display: block; height: 0.8cm;" [(ngModel)]="form_.tcar">
                  <option value="sedan">SEDAN</option>
                  <option value="pickup">PICKUP</option>
                  <option value="suv">SUV</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><input type="checkbox" [(ngModel)]="form_.asig"> ASIGNACIÓN DE TALLER</p>
                <p><input type="checkbox" [(ngModel)]="form_.indem"> INDEMNIZACIÓN DE DAÑOS</p>
              </td>
              <td>
                APLICAR DEDUCIBLE
                <input type="text" [(ngModel)]="form_.deduci">
              </td>
              <td>
                %
                <input type="text" [(ngModel)]="form_.porcen">
              </td>
              <td>
                IMPORTE DEL DEDUCIBLE
                <p>$ <input type="text" [(ngModel)]="form_.importe" style="width: 5cm;"></p>
              </td>
              <td>
                VALOR COMERCIAL DEL VEHÍCULO
                <p>$ <input type="text" [(ngModel)]="form_.valor" style="width: 2.4cm;"></p>
              </td>
            </tr>
            <tr>
              <td>
                MARCA
                <input type="text" [(ngModel)]="form_.marca">
              </td>
              <td>
                TIPO
                <input type="text" [(ngModel)]="form_.tipo">
              </td>
              <td>
                MODELO
                <input type="text" [(ngModel)]="form_.modelo">
              </td>
              <td>
                COLOR
                <input type="text" [(ngModel)]="form_.color">
              </td>
              <td>
                NO. SERIE
                <input type="text" [(ngModel)]="form_.serie">
              </td>
              <td>
                PLACAS
                <input type="text" [(ngModel)]="form_.placas">
              </td>
            </tr>
          </table>
          <p style="text-align: center;">DATOS DEL TALLER/AGENCIA</p>
          <table id="table1_">
            <tr>
              <td style="width: 9cm;">
                DOMICILIO
                <input type="text" [(ngModel)]="form_.domt">
              </td>
              <td>
                COLONIA
                <input type="text" [(ngModel)]="form_.colt">
              </td>
              <td>
                TELÉFONO
                <input type="text" [(ngModel)]="form_.telt">
              </td>
              <td>
                ATENCIÓN
                <input type="text" [(ngModel)]="form_.atent">
              </td>
            </tr>
          </table>        
        
          <table>
            <tr>
              <td colspan="4" style="font-size: 1.2em; letter-spacing: .5em; padding-bottom: 2mm;">DAÑOS DEL SINIESTRO
              </td>
            </tr>
            <tr>
              <td (click)="clear1()" style="cursor: pointer;">Lado derecho</td>
              <td (click)="clear2()" style="cursor: pointer;">Frente</td>
              <td (click)="clear3()" style="cursor: pointer;">Detras</td>
              <td (click)="clear4()" style="cursor: pointer;">Lado izquierdo</td>
            </tr>
            <tr>
              <td id="sig1" style="width: 5cm;" [ngClass]="{'sedand':form_.tcar=='sedan', 'pickupd':form_.tcar=='pickup', 'suvd':form_.tcar=='suv'}">
                <signature-pad #sig1 [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
              </td>
              <td id="sig2" style="width: 5cm;" [ngClass]="{'sedanf':form_.tcar=='sedan', 'pickupf':form_.tcar=='pickup', 'suvf':form_.tcar=='suv'}">
                <signature-pad #sig2 [options]="signaturePadOptions" (onEndEvent)="drawComplete2()"></signature-pad>
              <td id="sig3" style="width: 5cm;" [ngClass]="{'sedana':form_.tcar=='sedan', 'pickupa':form_.tcar=='pickup', 'suva':form_.tcar=='suv'}">
                <signature-pad #sig3 [options]="signaturePadOptions" (onEndEvent)="drawComplete3()"></signature-pad>
              </td>
              <td id="sig4" style="width: 5cm;" [ngClass]="{'sedani':form_.tcar=='sedan', 'pickupi':form_.tcar=='pickup', 'suvi':form_.tcar=='suv'}">
                <signature-pad #sig4 [options]="signaturePadOptions" (onEndEvent)="drawComplete4()"></signature-pad>
            </tr>
          </table>
          <table id="table1_">
            <tr>
              <td colspan="2">
                DAÑOS MECÁNICOS
                <textarea rows="2" [(ngModel)]="form_.danios1"></textarea>
              </td>
            </tr>
            <tr>
              <td>
                INTERIORES
                <textarea rows="2" [(ngModel)]="form_.inter1"></textarea>
              </td>
              <td>
                BDNDDHSJDSD
                <textarea rows="2" [(ngModel)]="form_.carac1"></textarea>
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td colspan="4" style="font-size: 1.2em; letter-spacing: .5em; padding-bottom: 2mm;">DAÑOS PREEXISTENTES
              </td>
            </tr>
            <tr>
              <td (click)="clear5()" style="cursor: pointer;">Lado derecho</td>
              <td (click)="clear6()" style="cursor: pointer;">Frente</td>
              <td (click)="clear7()" style="cursor: pointer;">Detras</td>
              <td (click)="clear8()" style="cursor: pointer;">Lado izquierdo</td>
            </tr>
            <tr>
              <td id="sig5" style="width: 5cm;" [ngClass]="{'sedand':form_.tcar=='sedan', 'pickupd':form_.tcar=='pickup', 'suvd':form_.tcar=='suv'}">
                <signature-pad #sig5 [options]="signaturePadOptions" (onEndEvent)="drawComplete5()"></signature-pad>
              </td>
              <td id="sig6" style="width: 5cm;" [ngClass]="{'sedanf':form_.tcar=='sedan', 'pickupf':form_.tcar=='pickup', 'suvf':form_.tcar=='suv'}">
                <signature-pad #sig6 [options]="signaturePadOptions" (onEndEvent)="drawComplete6()"></signature-pad>
              <td id="sig7" style="width: 5cm;" [ngClass]="{'sedana':form_.tcar=='sedan', 'pickupa':form_.tcar=='pickup', 'suva':form_.tcar=='suv'}">
                <signature-pad #sig7 [options]="signaturePadOptions" (onEndEvent)="drawComplete7()"></signature-pad>
              </td>
              <td id="sig8" style="width: 5cm;" [ngClass]="{'sedani':form_.tcar=='sedan', 'pickupi':form_.tcar=='pickup', 'suvi':form_.tcar=='suv'}">
                <signature-pad #sig8 [options]="signaturePadOptions" (onEndEvent)="drawComplete8()"></signature-pad>
            </tr>
          </table>
          <table id="table1_">
              <tr>
                <td colspan="2">
                  DAÑOS MECÁNICOS
                  <textarea rows="2" [(ngModel)]="form_.danios2"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  INTERIORES
                  <textarea rows="2" [(ngModel)]="form_.inter2"></textarea>
                </td>
                <td>
                  BDNDDHSJDSD
                  <textarea rows="2" [(ngModel)]="form_.carac2"></textarea>
                </td>
              </tr>
            </table>
            <table id="table1_">
              <tr>
                <td style="text-align: left !important;">
                  <b>IMPORTANTE</b>
                  <p>PARA LA ENTREGA DEL VEHÍCULO, ES NECESARIO PRESENTAR AL TALLER/AGENCIA EL COMPROBANTE DE PAGO DE DEDUCIBLE HECHO EN NUESTRAS OFICINAS O DEPÓSITO A LA CUENTA NÚMERO <input type="text" style="width: 4cm;" [(ngModel)]="form_.cuent"> DE <input type="text" style="width: 6cm;" [(ngModel)]="form_.banco"> A NOMBRE DE CHOFERES DE ORGANIZACIONES SOCIALES Y DEL TRANSPORTE, A.C. SI REQUIERE COMPROBANTE FISCAL FAVOR DE SOLICITARLO EN NUESTRAS OFICINAS.</p>                  
                  <p>EN CASO DE NO SER EL PROPIETARIO DEL VEHÍCULO O EN CASO DE PERSONAS MORALES, FAVOR DE PRESENTAR EN EL TALLER/AGENCIA UNA CARTA PODER SIMPLE Y COPIA DE IDENTIFICACIÓN DE QUIEN RECIBE EL VEHÍCULO.</p>
                  <p>SE APLICARAN LAS DEPRECIACIONES CORRESPONDIENTES POR EL TRANSCURSO DEL TIEMPO EN LA REPOSICIÓN DE LLANTAS, BATERÍAS O MOTORES, EN BASE AL PROMEDIO DE USO QUE INDIQUE EL DIAGNÓSTICO.</p>
                  <p>SI EL CONTRATO NO ESTUVIERE VIGENTE, O LA PRIMA NO SE HUBIERE PAGADO DENTRO DE LOS PLAZOS ESTABLECIDOS POR LA LEY, CHOFERES DE ORGANIZACIONES SOCIALES Y DEL TRANSPORTE A.C. NO ESTÁ OBLIGADO A REALIZAR PAGO ALGUNO DERIVADO DEL ACCIDENTE.</p>
                  <p>LAS OBLIGACIONES DE CHOFERES DE ORGANIZACIONES SOCIALES Y DEL TRANSPORTE A.C. QUEDARÁN EXTINTAS EN MOMENTO EN QUE SE ACTUALICE ALGUNAS CAUSAS DE IMPROCEDENCIA, RECHAZO DE SINIESTRO Y EXTINCIÓN DE OBLIGACIONES DE PAGO PREVISTAS EN LAS CONDICIONES GENERALES DEL CERTIFICADO. QUEDANDO A CARGO DEL AGREMIADO LAS RESPONSABILIDADES QUE SE DERIVEN DE DICHO ACCIDENTE.</p>
                  <p>EL AJUSTADOR NO DETERMINA EL MONTO DE LOS DAÑOS, CAMBIOS O REPARACIONES DE PIEZAS, NI TIEMPO DE REPARACIÓN Y ENTREGA DEL VEHÍCULO.</p>
                </td>
              </tr>
            </table>
            <table id="table1_">
              <tr>
                <td style="text-align: left !important; height: 7mm !important;">
                  LUGAR
                  <input type="text" style="width: 8cm" [(ngModel)]="form_.lugar">
                </td>
                <td style="text-align: left !important;">
                  DIA
                  <input type="text" style="width: 2cm" [(ngModel)]="form_.dia">
                </td>
                <td style="text-align: left !important;">
                  MES
                  <input type="text" style="width: 2cm" [(ngModel)]="form_.mes">
                </td>
                <td style="text-align: left !important;">
                  AÑO
                  <input type="text" style="width: 2cm" [(ngModel)]="form_.anio">
                </td>
              </tr>
            </table>

          <table>
          <tr>
            <td>
              <div class="signature">
                <div id="contSign" onclick = "btn_click()">
                  <img src="" id="imgSign" (load)="imgChanged($event)">
                </div>
                <hr>
                FIRMA DEL AJUSTADOR
                
              </div>
            </td>            
            <td>
                <div class="signature">
                    <div id="contSign2" onclick = "btn_click2()">
                      <img src="" id="imgSign2" (load)="imgChanged2($event)">
                    </div>
                    <hr>
                    FIRMA DEL CONDUCTOR
                  </div>
            </td>
            <td>
                <div class="signature">
                    <div id="contSign3" onclick = "btn_click3()">
                      <img src="" id="imgSign3" (load)="imgChanged3($event)">
                    </div>
                    <hr>
                    FIRMA DEL PROPIETARIO
                  </div>
            </td>
          </tr>
        </table>          

        </div>
        <div class="no-print" id="printBtn" onclick="window.print()">
          <img src="assets/print.svg" alt="" width="55" height="55">
        </div>
      </div>
    </section>


  </div>
