<app-navbar [save]="save" [goBack]="goBack">
</app-navbar>

<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <span class="card-title"><b>Datos de los Clientes</b></span>

        <div class="card-content">
           <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
         <!--  <table> -->
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>No. de Orden</th>
                <th>Fecha Ingreso</th>
                <th>Marca y Tipo</th>
                <th>Modelo</th>
                <th>Más...</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of Form;let i=index; ">
                <td>{{form.nombre}}</td>
                <td>{{form.tel}}</td>
                <td>{{form.orden}}</td>
                <td>{{form.ingreso}}</td>
                <td>{{form.marca}}</td>
                <td>{{form.modelo}}</td>
                <td><a [routerLink]="['/edit/', form.$key]"
                    class="btn-floating btn-small waves-effect waves-light teal">+</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
