<app-navbar [save]="save" [goBack]="goBack">
</app-navbar>

<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <span class="card-title"><b style="margin-left: 2em;">Datos de los Clientes</b></span>

        <div class="card-content">
           <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
         <!--  <table> -->
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Marca y Tipo</th>
                <th>Ajustador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of Form;let i=index; " [routerLink]="['/edit/', form.$key]" style="cursor: pointer;">
                <td>{{form.nombre}}</td>
                <td>{{form.tel}}</td>
                <td>{{form.orden}}</td>
                <td>{{form.dia}}/{{form.mes}}/{{form.anio}}</td>
                <td>{{form.marca}}, {{form.tipo}}</td>
                <td>{{form.ajusta}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
